*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}

.side-bar{
    background-color: #392A95;
    width: 30%;
    height: 100%;
    float: left;
    position: absolute;
    text-align: center;
}

.profile{
    height: 50%;
}

.profile h1{
    padding-top: 30px;
    font-size: 30px;
    
}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}

.main-section{
    width: 70%;
    float: right;
}