*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}

.clear{
    clear: both;
}

.side-bar{
    background-color: #373377;
    width: 30%;
    height: 100%;
    float: left;
    position: absolute;
    text-align: center;
}



.profile h1{
    padding-top: 30px;
    font-size: 30px;
    color: #BB00C4;
    background-color: #1F004B;
    height: 100px;
    
}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.profile h2{
    margin-top: 20px;
    color: #BB00C4;
    font-size: 25px;
}

.profile p{
    font-size: 20px;
    padding: 30px;
    text-align: left;
}

.habilidades h2{
    color: #BB00C4;
}

.habilidades ul{
    font-size: 20px;
    padding-left: 30px;
    text-align: left;
    list-style-type: disc;
}

.main-section{
    width: 30%;
    height: 500px;
    float: right;
}

.main-section .img1{
    height: 50px;
    margin: 0 auto;
    background-color: #1F004B;
}

.img1 a{
    text-decoration: none;
    color: #BB00C4;
    text-align: center;
}

.main-section h3{
    font-size: 30px;
    color: #BB00C4;
    background-color: #1F004B;
    height: 50px;
    text-align: center;
}

.main-section p{
    background-color: #373377;
    height: 50px;
    font-size: 20px;
    text-align: center;
    
}

.main-section .podcast-link{
    background-color: #373377;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.podcast-link a{
    color: #BB00C4;
    background-color: #1F004B;
    text-decoration: none;
    border-radius: 20px;
}